<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/fOur3b/favicon.png"/>
  <meta name="theme-color" content="#1885ed">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/Styles/homepage.css">
	<title>CDAC - Homepage</title>
  </head>
  
  <body>
  <header class="header">
	<div class="container header__container">
  <div class="header__logo"><img class="header__img" src="../static/Images/cdac_logo.png" width="80px" height="80px"> 
	<h1 class="header__title">CDAC<span class="header__light">,Government of India</span></h1></div> 
	  </div>
  </header>
  
  <div class="sect sect--padding-top">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
	  <div class="site">
		<h1 class="site__title">Sign In As</h1>
        <br>
		<br>
		<div class="site__box-link">
		  <a class="btn btn--width" href="{{url_for('adminlogin')}}">Admin</a>
		  <a class="btn btn--revert btn--width" href="{{url_for('login')}}">Employee</a>
		</div>
		<img class="site__img" src="https://image.ibb.co/c7grYb/image3015.png">
	  </div>
	  </div>
	  </div>
	</div>
  </div>

  <!-- ---------------------Footer-------------------- -->


  <div class="footer">
	<footer>
		<div class="social"><a href="https://www.instagram.com/" target=”_blank”><i class="fa fa-instagram"></i></a>
			<a href="https://www.linkedin.com/" target=”_blank”><i class="fa fa-linkedin"></i></a>
			<a href="https://twitter.com/i/flow/login" target=”_blank”><i class="fa fa-twitter"></i></a>
			<a href="https://www.facebook.com/" target=”_blank”><i class="fa fa-facebook"></i></a>
			<a href="https://www.youtube.com/" target=”_blank”><i class="fa fa-youtube"></i></a>
		</div>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="" style="color: white;">Home</a> </li>
			<li class="list-inline-item"><a href="" style="color: white;">R&D</a></li>
			<li class="list-inline-item"><a href="" style="color: white;">Contact Us</a></li>
		</ul>
		<p class="copyright"> 2023 CDAC, Meity - All Rights Reserved </p>
	</footer>
</div>

<!-- ---------------------Footer-------------------- -->
  </body>